<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
</div>
<div class="modal-footer">
  <textarea class="form-control" rows="3" ng-click="this.select()" ng-model="iframeCode"></textarea>
  <div class="row">
    <div class="col-xs-6">
      <label>Width</label>
      <input class="form-control" ng-model="iframeWidth" ng-change="getiFrameCode()" />
    </div>
    <div class="col-xs-6">
      <label>Height</label>
      <input class="form-control" ng-model="iframeHeight" ng-change="getiFrameCode()"/>
    </div>
  </div>
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
