<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div ng-if="!currentRepoURI" class="alert alert-warning" role="alert">
      You need to set a GitHub repo to be used with Axis. <br />
      Please choose below, or create a new repo. <br /><br />
      <strong>Note: We are not responsible for what happens if you use an existing repo!</strong>
    </div>
    <div class="col-sm-12" ng-if="!!currentRepoURI">
      <h1>GitHub Repo <i class="fa fa-github"></i></h1>
      <h3><i class="fa fa-check-circle"></i> <a ng-href="{{currentRepoURI.replace('git://', 'https://')}}">{{currentRepoURI}}</a></h3>
    </div>
    <div class="col-sm-12">
      <br />
      <button new-repo class="btn btn-success" ng-click="showNewRepo = !showNewRepo">New repo  <i class="fa fa-plus-square"></i></button>
      <div>{{newRepoMessages}}</div>
      <br />
        <table class="repo-table table table-hover"> <!-- TODO implement datatables  <table datatable class="repo-table table table-hover"> -->
        <thead>
          <tr>
            <th></th>
            <th><i class="fa fa-github"></i> repo</th>
            <th>url</th>
            <th>owner</th>
            <th>permissions</th>
            <th>created</th>
          </tr>
        </thead>
        <tbody>
          <tr class="newRepo" ng-show="showNewRepo">
            <td colspan="6">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Repo name..." ng-model="newRepoName">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button" ng-click="createNewRepo()">Save</button>
                </span>
              </div><!-- /input-group -->
            </td>
          </tr>
          <tr ng-repeat="repo in writableRepos" ng-style="currentRepoURI === repo.git_url ? {'font-weight': 'bold'} : {'font-weight': 'normal'}">
            <td>
              <button
                class="btn btn-xs"
                ng-class="{'btn-success': currentRepoURI !== repo.git_url, 'btn-primary': currentRepoURI === repo.git_url}"
                ng-disabled="currentRepoURI === repo.git_url"
                ng-click="changeRepo(repo.git_url)">
                  <span ng-if="currentRepoURI !== repo.git_url">Use </span>
                  <span ng-if="currentRepoURI === repo.git_url">Selected </span>
                  <i ng-class="{'fa-check-circle': currentRepoURI !== repo.git_url, 'fa-check-circle-o': currentRepoURI === repo.git_url}" class="fa"></i>
              </button>
            </td>
            <td>{{repo.full_name}}</td>
            <td>{{repo.git_url}}</td>
            <td>{{repo.owner.login}}</td>
            <td class="permissions">
              <strong ng-class="{hasPermission: repo.permissions.admin}"><i class="fa fa-cogs"></i> </strong>
              <strong ng-class="{hasPermission: repo.permissions.push}"><i class="fa fa-pencil-square-o"></i> </strong>
              <strong ng-class="{hasPermission: repo.permissions.pull}"><i class="fa fa-book"></i></strong>
            </td>
            <td>{{repo.created_at}}</td>
          </tr>
        </tbody>
      </table>
    </div>
<!--     <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div> -->
  </div>
</div>
