<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container axisJS">
  <div class="row">
    <div class="col-sm-12">
      <h1>Edit <i class="fa fa-folder-open-o"></i></h1>

      <!-- Display item list if no URL argument -->
      <div class="col-sm-12" ng-show="!itemName && directories">
        <table class="item-table table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="directory in directories">
              <td><button class="btn btn-success btn-xs" ng-click="editChart(directory.path)">Edit</button></td>
              <td>{{directory.path}}</td>
            </tr>
            </tbody>
        </table>
      </div>

    <!-- Display axisJS if argument given -->
    <div ng-show="!!itemName">
      <h4>Editing: <a ng-href="https://cdn.rawgit.com/{{username}}/{{repo}}/{{sha.substr(0, 7)}}/{{filename}}/index.html">{{itemName}}</a> - <small><a ng-href="https://cdn.rawgit.com/{{username}}/{{repo}}/{{sha.substr(0, 7)}}/{{filename}}/index.html">{{username}}/{{repo}}/{{sha.substr(0, 7)}}/{{filename}}</a></small></h4>
      <iframe load-chart id="axisJS" border="0" width="100%" height="auto"></iframe>
    </div>

    </div>
  </div>
</div>
